* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: whitesmoke;
}

#header > h1 {
    margin-left: 10px;
}